[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
